.course-description {
  padding-top: 90px;
  padding-bottom: 60px;

  background-color: #f5f5f5;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .course-header {
    background-color: #ffffff;
    padding: 20px;       
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    width: fit-content;       
    max-width: 90%;          

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
  }

  .course-image {
    width: 220px;
    aspect-ratio: 16 / 9;
    object-fit: cover;

    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }

  .course-info {
    max-width: 500px;
    text-align: center;

    h2 {
      font-size: 22px;
      font-weight: 600;
      color: #6f3b94;
      margin-bottom: 6px;
    }

    p {
      font-size: 14px;
      color: #777;
      margin: 1px 0;
      line-height: 1.4;
    }
  }

  .description {
      font-size: 15px;
      font-weight:bold;
      color: #6f3b94;
      line-height: 1;
      margin: 6px 0;
      max-width: 500px;
    }

    .price {
      margin-top: 6px;
      font-size: 16px;
      font-weight: 600;
      color: #6f3b94;

      background-color: #f3ecf8;
      padding: 6px 14px;
      border-radius: 8px;

      display: inline-block; 
    }

  .course-header > p {
    max-width: 500px;
    font-size: 15px;
    color: #555;
    line-height: 1.5;
    margin-top: 6px;
  }
}
