header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .logo {
    font-size: 25px;
    font-weight: 600;
    color: #8a4baf;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .link {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      gap: 0.5rem;
    }

    a {
      text-decoration: none;
      color: #333;
      transition: 0.3s;

      &:hover {
        color: #8a4baf;
      }
    }
  }
}